.keyboard {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
}

.key {
  height: 58px;
  min-width: 35px;
  font-size: 18px;
  font-weight: bold;
  margin: 4px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.backspace {
  grid-column: span 2;
}

.enter {
  grid-column: span 2;
}

.absent {
  border: 2px solid #949292; 
}

.present {
  border: 2px solid #e9e107;
}

.correct {
  border: 2px solid #0df324;
}